{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
  $(function() {
    var submit_form = function(e) {
      $.getJSON($SCRIPT_ROOT + '/_pull', {
          conn: $( "#connectionDropdown option:selected" ).text(),
          proto: $( "#protocolDropdown option:selected" ).text()
      }, function(data) {
        var tbody = $('#results tbody').empty(), props = ["Connection", "Protocol", "Classification"];
        $.each(data.payloads, function(i, payload) {
          var tr = $('<tr class="info">');
          if (payload["Classification"].toLowerCase() === "normal"){
              tr = $('<tr class="success">');
          } else if (payload["Classification"].toLowerCase() === "anomalous") {
              tr = $('<tr class="danger">');
          }

          $.each(props, function(i, prop) {
            $('<td>').html(payload[prop]).appendTo(tr);
          });
          tbody.append(tr);
        });
      });
      setTimeout(submit_form, 5000.0);
    };

    $('a#grab').bind('click', submit_form);

    $('input[type=text]').bind('keydown', function(e) {
      if (e.keyCode == 13) {
        submit_form(e);
      }
    });
  });

</script>
<div class="center-block">
    <h1>massieve</h1>
        <table class="table" id="results">
                <thead>
                    <tr>
                        <th>Connection</th><th>Protocol</th><th>Classification</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
        </table>
</div>


<select id="connectionDropdown" class="selectpicker">
  <option>tcp</option>
  <option>udp</option>
</select>

<select id="protocolDropdown" class="selectpicker">
  <option>*</option>
  <option>http</option>
  <option>sftp</option>
  <option>ssh</option>
</select>

<a href=# class="btn btn-info" role="button" id=grab>See traffic</a>

{% endblock %}

